# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
backend/.env
frontend/.env

# Build outputs
dist/
build/
.next/
out/

# Prisma
backend/node_modules/.prisma/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
